:root {
  /* Texts */
  --whiteText: #fff;
  --redText: #ff0000;
  --blueText: #4b64a2;
  --yellowText: #ffff00;
  --blackText: #000;
  /* background */
  --whiteColor: #ffffff;
  --iceColor: #ededed;
  --transparentdarkColor: #000007ce;
}
html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  position: relative;
}
/* Navbar */
nav {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background-color: transparent;
  position: fixed;
  z-index: 10;
}
.containerNavbar {
  max-width: 1000px;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0 0;
}

.navbarMenu {
  width: auto;
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  column-gap: 40px;
  padding: 0;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbarMenu .actived {
  color: var(--blueText) !important;
  padding-bottom: 3px;
  border-bottom: 1px solid;
  font-weight: 800;
}
.navbarMenu a {
  color: var(--whiteText);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}

.navbarMenu a:hover {
  color: var(--redText) !important;
  padding-bottom: 3px;
  font-weight: 800;
}
.containerNavbar .mobileBtnMobile {
  color: var(--whiteText);
  font-size: 30px;
  margin-right: 20px;
}

.containerNavbar i {
  display: none;
}
.containerNavbar .mobileBtnMobile:active {
  transform: rotate(-10deg);
}
/* End of Navbar */

/* Header section */
header {
  background-image: url("../img/banner-header.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerTextsBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}
.headerSubtitle {
  color: var(--whiteText);
  font-size: 25px;
  text-align: center;
}
.pageTitle {
  position: relative;
  color: white;
  font-size: 70px;
  height: 77px;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
}
.blinks {
  display: flex;
  width: 8px;
  height: 100%;
  background-color: var(--whiteColor);
  position: relative;
  z-index: 3;
  animation: blinksAnimation 0.8s ease infinite;
}
@keyframes blinksAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}
/* End of Header section */

/* Services section */
.seviceSection {
  width: 100%;
  display: block;
  text-align: center;
}
.servicesContainer {
  max-width: 1100px;
  width: 90%;
  margin: auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.serviceTitleBox {
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 50px;
  position: relative;
}
.serviceTitleImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.servicesTitle {
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  margin: 23px 0;
  color: var(--blueText);
  border-radius: 20px;
  border: 3px solid;
  background-color: var(--whiteColor);
  padding: 2px 5px;
}
.servicesCards {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 41px -16px #000;
  margin-bottom: 40px;
}
.servicesImgBox {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.imageServices {
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.imageServices:hover {
  transform: scale(1.03);
}
.invertPosition {
  order: 2;
}

.servicesTextsBox {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
  padding: 10px;
  position: relative;
}
.logoMarcaImgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoMarcaImg {
  /* width: 65%; */
  aspect-ratio: auto 640 / 360;
}
.servicesTextTitle {
  font-size: 18px;
  font-weight: 600;
  text-align: start;
}
.servicesTextTitleLeft {
  font-size: 18px;
  font-weight: 600;
  text-align: end;
}
.servicesText {
  font-size: 14px;
  text-align: justify;
  width: 90%;
  line-height: 22px;
  font-weight: 500;
}
.servicesTextLeft {
  font-size: 14px;
  text-align: justify;
  margin-right: 0;
  margin-left: auto;
  width: 90%;
  line-height: 22px;
  font-weight: 500;
}
.servicesLink {
  text-align: center;
  background-color: var(--blueText);
  width: 140px;
  color: var(--whiteText);
  font-size: 16px;
  transition: all 0.5s;
  padding: 5px 15px;
  font-weight: bold;
  cursor: pointer;
  z-index: 2;
  margin-top: 20px;
}
.servicesLinkLeft {
  text-align: center;
  background-color: var(--blueText);
  width: 140px;
  color: var(--whiteText);
  font-size: 16px;
  transition: all 0.5s;
  padding: 5px 15px;
  font-weight: bold;
  cursor: pointer;
  z-index: 2;
  margin-top: 20px;
  margin-right: 0;
  margin-left: auto;
}
.servicesLink:hover,
.servicesLinkLeft:hover {
  transform: scale(1.03);
}
.servicesLink:active,
.servicesLinkLeft:active {
  filter: brightness(75%);
}
.servicesWindow {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--transparentdarkColor);
  z-index: 11;
}
.serviceWindowContainer {
  max-width: 500px;
  width: 90%;
  padding: 40px 20px;
  background-color: var(--whiteColor);
  position: relative;
  transition: all 0.5s;
}
.addAnimationWindow {
  animation: addServiceWindowAnimation 0.3s ease;
}
.removeAnimationWindow {
  animation: removeServiceWindowAnimation 0.3s ease;
}
@keyframes addServiceWindowAnimation {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes removeServiceWindowAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.1);
  }
}

.serviceWindowImgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
}

.serviceWindowImg {
  /* width: 80%; */
  aspect-ratio: auto 640 / 360;
}
.serviceWindowIcon {
  font-size: 25px;
  background-color: var(--whiteColor);
  border: 1px solid;
  color: var(--blackText);
  border-radius: 50%;
  padding: 3px 5px;
  position: absolute;
  top: -15px;
  right: -15px;
  transition: all 0.5s;
  cursor: pointer;
}
.serviceWindowIcon:hover {
  transform: scale(1.05);
}
.serviceWindowIcon:active {
  transform: rotate(-25deg);
}
.serviceWindowTitle {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600;
}
.serviceWindowText {
  font-size: 14px;
  line-height: 22px;
}
/* End of Services section */

/* WhoItsUs section */
.whoItsUsSection {
  width: 100%;
  padding: 50px 0;
  display: block;
}
.whoItsUsContainer {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  display: block;
  text-align: center;
}

/* End of WhoItsUs section */

/* Contact section */
.contactSection {
  background-color: var(--iceColor);
  width: 100%;
  padding: 50px 0;
  display: block;
  position: relative;
  z-index: 0;
}
.contactContainer {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  display: block;
  text-align: center;
}
.contactContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.contactSocialMidia {
  width: 30%;
  display: block;
  text-align: start;
}
.socialMediaTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.socialMediaIconBox {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
  margin: auto;
  justify-content: center;
}
.formLink {
  text-decoration: none;
  color: var(--blueText);
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: start;
}
.formLink span {
  /* color: transparent;
  width: 1px; */
}
.socialMediaIcon {
  font-size: 40px;
  transition: all 0.5s;
}
.socialMediaIcon:hover {
  transform: scale(1.05);
}
.socialMediaIcon:active {
  color: var(--blackText);
}
.contactForm {
  width: 65%;
  display: block;
}
.contactFormTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: start;
}
.formContact {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 5px;
}
.formLabel {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 5px;
  position: relative;
}
.formTextAreaLabel {
  width: 60%;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 5px;
  position: relative;
}
.formInput {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  font-size: 16px;
  outline: none;
}
.formTextArea {
  outline: none;
  max-width: 350px;
  width: 100%;
  padding: 5px;
  font-size: 15px;
}
.errorLabel {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  color: var(--blueText);
  font-weight: 700;
  text-align: start;
}
.formTextareaBtnBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 10px;
}
.formBtnErrorMsgBox {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formButton {
  border: none;
  color: var(--whiteText);
  font-size: 16px;
  text-transform: uppercase;
  background-color: var(--blueText);
  padding: 5px 25px;
  font-weight: bold;
  margin-bottom: 10px;
  transition: all 0.5s;
}
.formButton:hover {
  transform: scale(1.05);
}
.formButton:active {
  filter: brightness(75%);
}
.generalError {
  font-size: 15px;
  font-weight: bold;
  color: var(--blueText);
  text-align: center;
}
/* End of Contact section */

@media (max-width: 1100px) {
  /* Navbar */
  .navbarMenu {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--transparentdarkColor);
    backdrop-filter: blur(13px);
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    row-gap: 30px;
    padding: 90px 25px 0 0;
    margin-top: 0px;
    z-index: -1;
  }

  .coletaLeadLogin,
  .navbarMenu .itemsMenuNavbar,
  .registerNavbarBtn {
    margin-right: 15px;
  }
  .coletaLeadLogin,
  .registerNavbarBtn {
    margin-right: 15px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .navbarMenu .itemsMenuNavbar,
  .itemsMenuNavbar a {
    color: var(--whiteColor);
    font-size: 16px;
  }
  .coletaLeadLogin,
  .registerNavbarBtn {
    font-size: 16px;
  }
  .containerNavbar i {
    display: block;
  }
  /* End of Navbar */
}
@media (max-width: 992px) {
  /* Service section */
  .servicesTextsBox {
    width: 57%;
  }
  /* End of Service section */
}
@media (max-width: 768px) {
  /* Header section */
  header {
    background-image: url("../img/banner-768.webp");
    height: 400px;
  }
  .pageTitle {
    font-size: 58px;
    height: 63px;
  }
  /* End of Header section */

  /* Service section */
  .servicesCards {
    flex-direction: column;
    height: auto;
  }
  .servicesTextsBox {
    width: 85%;
    padding: 30px 0;
  }
  .invertPosition {
    order: 0;
  }
  .servicesTextTitle,
  .servicesText,
  .servicesTextTitleLeft,
  .servicesTextLeft {
    text-align: center;
  }
  .servicesLink,
  .servicesLinkLeft {
    margin-left: auto;
    margin-right: auto;
  }
  .logoMarcaImg {
    width: 90%;
  }
  /* End of Service section */

  /* Contact section */
  .contactContent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
  }
  .contactSocialMidia,
  .contactForm {
    width: 100%;
  }
  .socialMediaTitle,
  .contactFormTitle {
    text-align: center;
  }

  /* End of Contact section */
}

@media (max-width: 576px) {
  /* Header section */
  header {
    background-image: url("../img/banner-576.webp");
    height: 400px;
  }
  .headerTextsBox {
    row-gap: 15px;
  }
  .headerSubtitle {
    font-size: 18px;
  }
  .pageTitle {
    font-size: 27px;
    height: 28px;
  }
  .blinks {
    width: 5px;
    margin-left: 2px;
  }
  /* End of Header section */

  /* Contact section */
  .formTextareaBtnBox {
    flex-direction: column;
    row-gap: 20px;
  }
  .formTextAreaLabel,
  .formBtnErrorMsgBox {
    width: 100%;
  }
  .formTextArea {
    max-width: 100%;
  }
  /* End of Contact section */
}
